In [1]:
import pandas as pd
import numpy as np

In [2]:
arboviroses = pd.read_csv(r'C:\Users\johnn\Documents\workspace\Projetos\vector_borne_br\data\all_arb_cid.csv', encoding ='latin1')

In [3]:

coronel_pacheco = pd.read_csv(r'C:\Users\johnn\Documents\workspace\Projetos\vector_borne_br\data\Coronel_Pacheco.csv', encoding ='latin1', skiprows=10, sep=';')
juiz_de_fora = pd.read_csv(r'C:\Users\johnn\Documents\workspace\Projetos\vector_borne_br\data\Juiz_de_fora.csv',encoding ='latin1', skiprows=10, sep=';')
manhuacu = pd.read_csv(r'C:\Users\johnn\Documents\workspace\Projetos\vector_borne_br\data\Manhuacu.csv', encoding ='latin1', skiprows=10, sep=';')
muriae = pd.read_csv(r'C:\Users\johnn\Documents\workspace\Projetos\vector_borne_br\data\Muriae.csv', encoding ='latin1', skiprows=10, sep=';')
vicosa = pd.read_csv(r'C:\Users\johnn\Documents\workspace\Projetos\vector_borne_br\data\Vicosa.csv', encoding ='latin1', skiprows=10, sep=';')

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_rows', None)

# Exploração inicial e transformação de dados

In [5]:
coronel_pacheco.head(1)

  Data Medicao  PRECIPITACAO TOTAL, DIARIO (AUT)(mm)  PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)  TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(Â°C)  TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)  TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)  TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)  UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)  UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)  VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)  VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)  Unnamed: 11
0   2012-10-16                                   NaN                                         NaN                                                NaN                                          NaN                                   NaN                                    NaN                                            NaN                                             NaN                                     NaN                                        NaN          NaN

In [6]:
juiz_de_fora.head(1)

  Data Medicao  PRECIPITACAO TOTAL, DIARIO (AUT)(mm)  PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)  TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(Â°C)  TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)  TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)  TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)  UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)  UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)  VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)  VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)  Unnamed: 11
0   2007-05-25                                   NaN                                         NaN                                                NaN                                          NaN                                   NaN                                    NaN                                            NaN                                             NaN                                     NaN                                        NaN          NaN

In [7]:
manhuacu.head(1)

  Data Medicao  PRECIPITACAO TOTAL, DIARIO (AUT)(mm)  PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)  TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(Â°C)  TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)  TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)  TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)  UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)  UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)  VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)  VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)  Unnamed: 11
0   2010-09-24                                   NaN                                         NaN                                                NaN                                          NaN                                   NaN                                    NaN                                            NaN                                             NaN                                     NaN                                        NaN          NaN

In [8]:
muriae.head(1)

  Data Medicao  PRECIPITACAO TOTAL, DIARIO (AUT)(mm)  PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)  TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(Â°C)  TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)  TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)  TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)  UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)  UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)  VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)  VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)  Unnamed: 11
0   2006-08-29                                   NaN                                       990.7                                               10.8                                         19.7                                   NaN                                    NaN                                           57.0                                             NaN                                     NaN                                        3.0          NaN

In [9]:
vicosa.head(1)

  Data Medicao  PRECIPITACAO TOTAL, DIARIO (AUT)(mm)  PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)  TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(Â°C)  TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)  TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)  TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)  UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)  UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)  VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)  VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)  Unnamed: 11
0   2005-09-14                                   NaN                                         NaN                                                NaN                                          NaN                                   NaN                                    NaN                                            NaN                                             NaN                                     NaN                                        NaN          NaN

In [10]:

arboviroses.tail(10)

       Unnamed: 0  CLASSI_FIN  codigo_municipio_completo  COMUNINF  COPAISINF  COUFINF  CRITERIO  CS_ESCOL_N  CS_FLXRET  CS_GESTANT  CS_RACA CS_SEXO  DOENCA_TRA  DT_ENCERRA   DT_INVEST  DT_NOTIFIC DT_OBITO  DT_SIN_PRI  EVOLUCAO  FLXRECEBI ID_AGRAVO  ID_MN_RESI  ID_MUNICIP  ID_PAIS  ID_REGIONA  ID_RG_RESI  mesorregiao_geografica  microrregiao_geografica  municipio  NDUPLIC_N nome_mesorregiao nome_microrregiao nome_municipio       nome_uf  NU_ANO  NU_IDADE_N  SEM_NOT  SEM_PRI  SG_UF  SG_UF_NOT  TP_NOT  TPAUTOCTO  uf     X    X.1  tipo
66992       66993         2.0                    3136702       NaN        0.0      NaN       1.0         9.0        0.0         1.0      4.0       F         NaN  2019-12-04  2019-12-03  2019-12-03      NaN  2019-12-02       1.0        2.0      A928      313670      313670        1        1452        1452                      12                       65      36702        NaN     Zona da Mata      Juiz de Fora   Juiz de Fora  Minas Gerais    2019        4024   201949   201949     31         31       2        NaN  31  3189  26582  zika
66993       66994         5.0                    3136702       NaN        NaN      NaN       1.0         9.0        NaN         6.0      1.0       M         NaN  2019-12-27  2019-12-04  2019-12-04      NaN  2019-11-20       1.0        NaN      A92.      313670      313670        1        1452        1452                      12                       65      36702        NaN     Zona da Mata      Juiz de Fora   Juiz de Fora  Minas Gerais    2019        4061   201949   201947     31         31       2        NaN  31  2075  38988  chik
66994       66995         2.0                    3136702       NaN        0.0      NaN       1.0         9.0        0.0         6.0      1.0       M         NaN  2020-01-08  2019-12-04  2019-12-04      NaN  2019-11-20       1.0        2.0      A928      313670      313670        1        1452        1452                      12                       65      36702        NaN     Zona da Mata      Juiz de Fora   Juiz de Fora  Minas Gerais    2019        4061   201949   201947     31         31       2        NaN  31  3190  26583  zika
66995       66996         2.0                    3136702       NaN        0.0      NaN       1.0         9.0        1.0         5.0      2.0       F         NaN  2019-12-27  2019-12-06  2019-12-06      NaN  2019-12-06       1.0        2.0      A928      310610      313670        1        1452        1452                      12                       65      36702        NaN     Zona da Mata      Juiz de Fora   Juiz de Fora  Minas Gerais    2019        4016   201949   201949     31         31       2        NaN  31  3194  26587  zika
66996       66997         5.0                    3139409       NaN        NaN      NaN       1.0         NaN        NaN         6.0      4.0       F         NaN  2020-02-10  2019-12-11  2019-12-11      NaN  2019-11-11       1.0        NaN      A92.      313940      313940        1        1454        1454                      12                       61      39409        NaN     Zona da Mata          Manhuaçu       Manhuaçu  Minas Gerais    2019        4079   201950   201946     31         31       2        NaN  31  3377  40290  chik
66997       66998         5.0                    3136702       NaN        NaN      NaN       1.0         9.0        NaN         6.0      2.0       M         NaN  2020-04-03  2019-12-13  2019-12-13      NaN  2019-11-26       1.0        NaN      A92.      313670      313670        1        1452        1452                      12                       65      36702        NaN     Zona da Mata      Juiz de Fora   Juiz de Fora  Minas Gerais    2019        4043   201950   201948     31         31       2        NaN  31  1873  38786  chik
66998       66999         5.0                    3136702       NaN        NaN      NaN       1.0        10.0        NaN         6.0      4.0       M         NaN  2020-01-14  2019-12-13  2019-12-13      NaN  2019-08-10       1.0        NaN      A92.      313670      313670        1        1452        1452                      12                       65      36702        NaN     Zona da Mata      Juiz de Fora   Juiz de Fora  Minas Gerais    2019        3009   201950   201932     31         31       2        NaN  31  5012  41925  chik
66999       67000         2.0                    3136702       NaN        0.0      NaN       1.0         9.0        0.0         6.0      2.0       M         NaN  2020-04-03  2019-12-13  2019-12-13      NaN  2019-11-26       1.0        2.0      A928      313670      313670        1        1452        1452                      12                       65      36702        NaN     Zona da Mata      Juiz de Fora   Juiz de Fora  Minas Gerais    2019        4043   201950   201948     31         31       2        NaN  31  3205  26598  zika
67000       67001        13.0                    3136702  313670.0        1.0     31.0       1.0         9.0        NaN         6.0      1.0       M         NaN  2020-01-06  2019-12-23  2019-12-23      NaN  2019-03-15       1.0        NaN      A92.      313670      313670        1        1452        1452                      12                       65      36702        NaN     Zona da Mata      Juiz de Fora   Juiz de Fora  Minas Gerais    2019        4029   201952   201911     31         31       2        1.0  31   471  37384  chik
67001       67002        13.0                    3136702  313670.0        1.0     31.0       1.0         9.0        NaN         6.0      9.0       M         NaN  2019-12-27  2019-12-27  2019-12-27      NaN  2019-09-05       1.0        NaN      A92.      313670      313670        1        1452        1452                      12                       65      36702        NaN     Zona da Mata      Juiz de Fora   Juiz de Fora  Minas Gerais    2019        4048   201952   201936     31         31       2        1.0  31   564  37477  chik

In [11]:
tipos_cidades = arboviroses['nome_municipio'].value_counts()
print(tipos_cidades)

nome_municipio
Juiz de Fora       48251
Muriaé              7965
Manhuaçu            5900
Viçosa              4806
Coronel Pacheco       80
Name: count, dtype: int64

In [12]:
tipos = arboviroses['tipo'].value_counts()
print(tipos)

tipo
deng    65907
chik      652
zika      443
Name: count, dtype: int64

In [13]:
colunas_arbo = arboviroses.columns
print(colunas_arbo)

Index(['Unnamed: 0', 'CLASSI_FIN', 'codigo_municipio_completo', 'COMUNINF',
       'COPAISINF', 'COUFINF', 'CRITERIO', 'CS_ESCOL_N', 'CS_FLXRET',
       'CS_GESTANT', 'CS_RACA', 'CS_SEXO', 'DOENCA_TRA', 'DT_ENCERRA',
       'DT_INVEST', 'DT_NOTIFIC', 'DT_OBITO', 'DT_SIN_PRI', 'EVOLUCAO',
       'FLXRECEBI', 'ID_AGRAVO', 'ID_MN_RESI', 'ID_MUNICIP', 'ID_PAIS',
       'ID_REGIONA', 'ID_RG_RESI', 'mesorregiao_geografica',
       'microrregiao_geografica', 'municipio', 'NDUPLIC_N', 'nome_mesorregiao',
       'nome_microrregiao', 'nome_municipio', 'nome_uf', 'NU_ANO',
       'NU_IDADE_N', 'SEM_NOT', 'SEM_PRI', 'SG_UF', 'SG_UF_NOT', 'TP_NOT',
       'TPAUTOCTO', 'uf', 'X', 'X.1', 'tipo'],
      dtype='object')

In [14]:
colunas_clima = coronel_pacheco.columns
print(colunas_clima)

Index(['Data Medicao', 'PRECIPITACAO TOTAL, DIARIO (AUT)(mm)',
       'PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)',
       'TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(Â°C)',
       'TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)',
       'TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)',
       'TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)',
       'UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)',
       'UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)',
       'VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)',
       'VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)', 'Unnamed: 11'],
      dtype='object')

In [15]:
#combinar as tabelas dos climas das cidades em uma única tabela
#criar uma coluna'cidade' para identificar a qual pertence o dado

coronel_pacheco['cidade'] = 'Coronel Pacheco'
juiz_de_fora['cidade'] = 'Juiz de Fora'
manhuacu['cidade'] = 'Manhuaçu'
muriae['cidade'] = 'Muriaé'
vicosa['cidade'] = 'Viçosa'

In [16]:
#concatenar em uma única tabela
df_clima = pd.concat([coronel_pacheco, juiz_de_fora, manhuacu, muriae, vicosa], ignore_index=True)
df_clima.head(1)

  Data Medicao  PRECIPITACAO TOTAL, DIARIO (AUT)(mm)  PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)  TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(Â°C)  TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)  TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)  TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)  UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)  UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)  VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)  VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)  Unnamed: 11           cidade
0   2012-10-16                                   NaN                                         NaN                                                NaN                                          NaN                                   NaN                                    NaN                                            NaN                                             NaN                                     NaN                                        NaN          NaN  Coronel Pacheco

In [17]:
arboviroses_c = arboviroses.copy()
clima_c = df_clima.copy()

In [18]:
colunas_arboviroses = ['CLASSI_FIN', 'codigo_municipio_completo', 'COMUNINF',
       'COPAISINF', 'COUFINF', 'CS_ESCOL_N',
       'CS_GESTANT', 'CS_RACA', 'CS_SEXO', 'DOENCA_TRA', 'DT_ENCERRA',
       'DT_INVEST', 'DT_NOTIFIC', 'DT_OBITO', 'DT_SIN_PRI', 'EVOLUCAO', 'ID_AGRAVO', 'ID_MN_RESI', 'ID_MUNICIP', 'ID_PAIS',
       'mesorregiao_geografica',
       'microrregiao_geografica', 'municipio', 'NDUPLIC_N', 'nome_mesorregiao',
       'nome_microrregiao', 'nome_municipio', 'nome_uf', 'NU_ANO',
       'NU_IDADE_N', 'SEM_NOT', 'SEM_PRI', 'SG_UF', 'SG_UF_NOT', 'TP_NOT',
       'TPAUTOCTO', 'uf', 'tipo']

arboviroses_c = arboviroses_c[colunas_arboviroses]

arboviroses_c.head(1)

   CLASSI_FIN  codigo_municipio_completo  COMUNINF  COPAISINF  COUFINF  CS_ESCOL_N  CS_GESTANT  CS_RACA CS_SEXO  DOENCA_TRA  DT_ENCERRA   DT_INVEST  DT_NOTIFIC DT_OBITO  DT_SIN_PRI  EVOLUCAO ID_AGRAVO  ID_MN_RESI  ID_MUNICIP  ID_PAIS  mesorregiao_geografica  microrregiao_geografica  municipio  NDUPLIC_N nome_mesorregiao nome_microrregiao nome_municipio       nome_uf  NU_ANO  NU_IDADE_N  SEM_NOT  SEM_PRI  SG_UF  SG_UF_NOT  TP_NOT  TPAUTOCTO  uf  tipo
0         1.0                    3139409       NaN        NaN      NaN         9.0         5.0      3.0       F         2.0  2013-01-25  2013-01-03  2013-01-03      NaN  2012-12-30       1.0       A90      313940      313940        1                      12                       61      39409        NaN     Zona da Mata          Manhuaçu       Manhuaçu  Minas Gerais    2013        4016   201301   201301     31         31       2        NaN  31  deng

In [19]:
colunas_clima = ['Data Medicao', 'PRECIPITACAO TOTAL, DIARIO (AUT)(mm)',
       'PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)',
       'TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(Â°C)',
       'TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)',
       'TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)',
       'TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)',
       'UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)',
       'UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)',
       'VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)',
       'VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)', 'cidade']

clima_c = clima_c[colunas_clima]
clima_c.head(1)

  Data Medicao  PRECIPITACAO TOTAL, DIARIO (AUT)(mm)  PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)  TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(Â°C)  TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)  TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)  TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)  UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)  UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)  VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)  VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)           cidade
0   2012-10-16                                   NaN                                         NaN                                                NaN                                          NaN                                   NaN                                    NaN                                            NaN                                             NaN                                     NaN                                        NaN  Coronel Pacheco

A coluna NU_IDADE_N na tabela arboviroses_c é referente a idade dos pacientes. Porém, ela segue uma regra:


A composição da variável 
obedece o seguinte critério: 1o dígito: 

1. Hora 

2. Dia 

3. Mês 

4. Ano 

 
Ex: 

3009 – nove meses, 

4018 – dezoito anos, 

2072 - setenta e dois dias, 

1010 - dez horas


Para conseguirmos trabalhar melhor com os dados de idade, podemos criar um código, associado a uma classificação cronológica e a regra para ter tal classificação


1 - Recém-nascido: Primeiras 4 semanas de vida (desde a 0h).

2 - Lactante: Do 1º ao 24º mês.

3 -Primeira Infância: Dos 2 aos 5 anos.

4 -Segunda Infância: Dos 6 aos 11 anos.

5 -Adolescência: Dos 12 aos 18 anos.

6 -Jovem Adulto: Dos 19 aos 40 anos.

7 -Adulto: Dos 41 aos 60 anos.

8 -Idoso: Acima de 60 anos

In [20]:
#definir uma função para converter o código de idade em classificação cronológica

def classificar_idade(codigo_idade):
    if pd.isna(codigo_idade):
        return None, None
    
    codigo_idade = str(int(codigo_idade))
    primeiro_digito = int(codigo_idade[0])
    valor = int(codigo_idade[1:])
    
    if primeiro_digito == 1:  # horas
        return 'Recém-nascido', 1
    elif primeiro_digito == 2:  # dias
        if valor <= 28:
            return 'Recém-nascido', 1
        elif valor <= 365:
            return 'Lactante', 2
        elif valor <= 1825:
            return 'Primeira Infância', 3
        elif valor <= 4015:  # aproximadamente 11 anos
            return 'Segunda Infância', 4
        else:
            return 'Adolescência', 5
    elif primeiro_digito == 3:  # meses
        if valor <= 24:
            return 'Lactante', 2
        elif valor <= 60:
            return 'Primeira Infância', 3
        elif valor <= 132:
            return 'Segunda Infância', 4
        elif valor <= 216:
            return 'Adolescência', 5
        elif valor <= 480:  # proximadamente 40 anos
            return 'Jovem Adulto', 6
        else:
            return 'Adulto', 7
    elif primeiro_digito == 4:  # nos
        if valor <= 1:
            return 'Lactante', 2
        elif valor <= 5:
            return 'Primeira Infância', 3
        elif valor <= 11:
            return 'Segunda Infância', 4
        elif valor <= 18:
            return 'Adolescência', 5
        elif valor <= 40:
            return 'Jovem Adulto', 6
        elif valor <= 60:
            return 'Adulto', 7
        else:
            return 'Idoso', 8
    return None, None

# verificando se deu certo
print(classificar_idade(3009))  # ('Lactante', 2)

('Lactante', 2)

In [21]:
# adicionar a função e novas colunas no dataframe
arboviroses_c['CRONO'], arboviroses_c['ID_CRONO'] = zip(*arboviroses_c['NU_IDADE_N'].apply(classificar_idade))

# Verificar o resultado
print(arboviroses_c[['NU_IDADE_N', 'CRONO', 'ID_CRONO']].head())

   NU_IDADE_N         CRONO  ID_CRONO
0        4016  Adolescência       5.0
1        4016  Adolescência       5.0
2        4070         Idoso       8.0
3        4027  Jovem Adulto       6.0
4        4012  Adolescência       5.0

# Continuação da xploração inicial de dados

In [22]:
print((arboviroses_c.isnull().sum() / len(arboviroses_c)) * 100)

CLASSI_FIN                    0.088057
codigo_municipio_completo     0.000000
COMUNINF                     66.929345
COPAISINF                    66.668159
COUFINF                      66.903973
CS_ESCOL_N                   19.633742
CS_GESTANT                    0.028357
CS_RACA                       7.734097
CS_SEXO                       0.000000
DOENCA_TRA                   76.879795
DT_ENCERRA                    0.141787
DT_INVEST                    51.073102
DT_NOTIFIC                    0.000000
DT_OBITO                     99.811946
DT_SIN_PRI                    0.000000
EVOLUCAO                     51.876063
ID_AGRAVO                     0.000000
ID_MN_RESI                    0.000000
ID_MUNICIP                    0.000000
ID_PAIS                       0.000000
mesorregiao_geografica        0.000000
microrregiao_geografica       0.000000
municipio                     0.000000
NDUPLIC_N                    99.988060
nome_mesorregiao              0.000000
nome_microrregiao             0.000000
nome_municipio                0.000000
nome_uf                       0.000000
NU_ANO                        0.000000
NU_IDADE_N                    0.000000
SEM_NOT                       0.000000
SEM_PRI                       0.000000
SG_UF                         0.000000
SG_UF_NOT                     0.000000
TP_NOT                        0.000000
TPAUTOCTO                    66.242799
uf                            0.000000
tipo                          0.000000
CRONO                         0.001492
ID_CRONO                      0.001492
dtype: float64

In [23]:
#retirando as colunas com quase 100% de valores nulos
arboviroses_c.drop(columns=['DT_OBITO', 'NDUPLIC_N'], inplace =True)

In [24]:

print((clima_c.isnull().sum() / len(clima_c)) * 100)

Data Medicao                                               0.000000
PRECIPITACAO TOTAL, DIARIO (AUT)(mm)                       7.016359
PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)                 4.531197
TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(Â°C)    4.092072
TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)                      2.403127
TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)                       5.361193
TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)                      2.417604
UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)              3.175216
UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)             2.427255
VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)                     2.427255
VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)                  3.484052
cidade                                                     0.000000
dtype: float64

In [25]:
arboviroses_cc = arboviroses_c.copy()
clima_cc = clima_c.copy()

In [26]:
print(arboviroses_c.shape)
print(clima_c.shape)

(67002, 38)
(20723, 12)

In [27]:
print(arboviroses_c['nome_municipio'].dtype)
print(clima_c['cidade'].dtype)

object
object

In [28]:
arboviroses_c.rename(columns={'nome_municipio': 'cidade'}, inplace = True)
print(arboviroses_c.columns)

Index(['CLASSI_FIN', 'codigo_municipio_completo', 'COMUNINF', 'COPAISINF',
       'COUFINF', 'CS_ESCOL_N', 'CS_GESTANT', 'CS_RACA', 'CS_SEXO',
       'DOENCA_TRA', 'DT_ENCERRA', 'DT_INVEST', 'DT_NOTIFIC', 'DT_SIN_PRI',
       'EVOLUCAO', 'ID_AGRAVO', 'ID_MN_RESI', 'ID_MUNICIP', 'ID_PAIS',
       'mesorregiao_geografica', 'microrregiao_geografica', 'municipio',
       'nome_mesorregiao', 'nome_microrregiao', 'cidade', 'nome_uf', 'NU_ANO',
       'NU_IDADE_N', 'SEM_NOT', 'SEM_PRI', 'SG_UF', 'SG_UF_NOT', 'TP_NOT',
       'TPAUTOCTO', 'uf', 'tipo', 'CRONO', 'ID_CRONO'],
      dtype='object')

In [31]:
# unindo as tabelas
df= pd.merge(arboviroses_c, clima_c, 
                        left_on='DT_SIN_PRI', 
                        right_on='Data Medicao', 
                        how='left')

In [32]:
df.head(5)

   CLASSI_FIN  codigo_municipio_completo  COMUNINF  COPAISINF  COUFINF  CS_ESCOL_N  CS_GESTANT  CS_RACA CS_SEXO  DOENCA_TRA  DT_ENCERRA   DT_INVEST  DT_NOTIFIC  DT_SIN_PRI  EVOLUCAO ID_AGRAVO  ID_MN_RESI  ID_MUNICIP  ID_PAIS  mesorregiao_geografica  microrregiao_geografica  municipio nome_mesorregiao nome_microrregiao  cidade_x       nome_uf  NU_ANO  NU_IDADE_N  SEM_NOT  SEM_PRI  SG_UF  SG_UF_NOT  TP_NOT  TPAUTOCTO  uf  tipo         CRONO  ID_CRONO Data Medicao  PRECIPITACAO TOTAL, DIARIO (AUT)(mm)  PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)  TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(Â°C)  TEMPERATURA MAXIMA, DIARIA (AUT)(Â°C)  TEMPERATURA MEDIA, DIARIA (AUT)(Â°C)  TEMPERATURA MINIMA, DIARIA (AUT)(Â°C)  UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)  UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)  VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)  VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)         cidade_y
0         1.0                    3139409       NaN        NaN      NaN         9.0         5.0      3.0       F         2.0  2013-01-25  2013-01-03  2013-01-03  2012-12-30       1.0       A90      313940      313940        1                      12                       61      39409     Zona da Mata          Manhuaçu  Manhuaçu  Minas Gerais    2013        4016   201301   201301     31         31       2        NaN  31  deng  Adolescência       5.0   2012-12-30                                   1.0                                  965.537500                                          19.775000                                         32.4                             24.737500                                   19.0                                      76.958333                                            42.0                                     6.8                                   1.600000  Coronel Pacheco
1         1.0                    3139409       NaN        NaN      NaN         9.0         5.0      3.0       F         2.0  2013-01-25  2013-01-03  2013-01-03  2012-12-30       1.0       A90      313940      313940        1                      12                       61      39409     Zona da Mata          Manhuaçu  Manhuaçu  Minas Gerais    2013        4016   201301   201301     31         31       2        NaN  31  deng  Adolescência       5.0   2012-12-30                                   2.4                                  910.787500                                          17.904167                                         29.3                             23.620833                                   19.2                                      71.375000                                            51.0                                     7.3                                   1.887500     Juiz de Fora
2         1.0                    3139409       NaN        NaN      NaN         9.0         5.0      3.0       F         2.0  2013-01-25  2013-01-03  2013-01-03  2012-12-30       1.0       A90      313940      313940        1                      12                       61      39409     Zona da Mata          Manhuaçu  Manhuaçu  Minas Gerais    2013        4016   201301   201301     31         31       2        NaN  31  deng  Adolescência       5.0   2012-12-30                                   9.6                                  922.983333                                          17.758333                                         29.0                             23.312500                                   17.3                                      73.041667                                            49.0                                     9.3                                   2.833333         Manhuaçu
3         1.0                    3139409       NaN        NaN      NaN         9.0         5.0      3.0       F         2.0  2013-01-25  2013-01-03  2013-01-03  2012-12-30       1.0       A90      313940      313940        1                      12                       61      39409     Zona da Mata          Manhuaçu  Manhuaçu  Minas Gerais    2013        4016   201301   201301     31         31       2        NaN  31  deng  Adolescência       5.0   2012-12-30                                   2.6                                  980.050000                                          20.254167                                         35.1                             27.783333                                   20.9                                      67.083333                                            37.0                                     8.6                                   1.329167           Muriaé
4         1.0                    3139409       NaN        NaN      NaN         9.0         5.0      3.0       F         2.0  2013-01-25  2013-01-03  2013-01-03  2012-12-30       1.0       A90      313940      313940        1                      12                       61      39409     Zona da Mata          Manhuaçu  Manhuaçu  Minas Gerais    2013        4016   201301   201301     31         31       2        NaN  31  deng  Adolescência       5.0   2012-12-30                                  19.6                                  935.854167                                          18.883333                                         30.6                             23.266667                                   17.7                                      79.125000                                            46.0                                     7.8                                   1.050000           Viçosa